body {
    background: #121212;
    color: #f6f6f6;
    text-align: center;
}
.wrap {
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}
iframe {
    width: 400px; 
    height: 300px;
    border: 0px;
    margin: 0 5px;
}
.yt-player {
    width: 600px;
    height: 450px;
}

.space-below {
    padding: 50px 0;
}
.web-iframe {
    width: 700px;
    height: 400px;
    margin: 0 5px;
}
video {
    width: 400px;
    width: 100%;
    margin: 0;
}